.ngdialog {
  overflow: hidden !important;
}

.ngdialog.ngdialog-theme-default.custom-pc-width .ngdialog-content {
  width: 100%;
  max-width: 500px;
  background-color: transparent;
  margin: 0 auto;
}

@media only screen and (min-device-width: 480px) {
  .module-mobile-show {
    display: none;
  }
}

@media only screen and (max-device-width: 480px) {
  .ngdialog.ngdialog-theme-default.custom-full-screen .ngdialog-content {
    width:100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
  }

  .module-mobile-hide {
    display: none;
  }

  .module-list-lists-item {
    height: 40px !important;
  }

  .notification-report-wizzard {
    width: 300px !important;

    &__btn {
      left: 95px !important;
    }
  }

  .report-wizzard {
    margin-left: 2px !important;
    margin-top: 0px !important;
  }
}

.module-list-close {
  margin: 8px 10px;
  font-size: 30px;
  line-height: 50px;
  vertical-align: middle;
  color: #DCDCDC;
}

.report-wizzard {
  min-height: 450px;
  overflow: auto;
  width: 100%;
  border-radius: 25px;
  margin-top: -50px;
  background-color: #fff;
  text-align: center;
  -webkit-box-shadow: 0 0 13px 9px rgba(0,0,0,0.12);
  -moz-box-shadow: 0 0 13px 9px rgba(0,0,0,0.12);
  box-shadow: 0 0 13px 9px rgba(0,0,0,0.12);

  &-descrp {
    padding-left: 15px;

    &__split {
      margin-top: 5px;
      margin-bottom: 5px;
      border-bottom: 3px solid #9a9a9a;
    }

    &-title {
      font-size: 36px;
      color: #d02127;
    }

    &-content {
      font-size: 14px;
      color: #bababa;
      text-align:justify
    }

    &-btn {
      font-size: 20px;

      &__open {
        padding: 6px 50px 10px 6px;
        color: #fff;
        background-color: #d02127;
        font-size: 20px;
        border-radius: 20px;

        &:hover {
          color: #fff;
        }
      }

      &__close {
        padding: 6px 15px 6px 15px;
        color: #d02127;
        background-color: #fff;
        font-size: 14px;
        border: 1px solid #d02127;
        border-radius: 20px;

        &:hover {
          color: #d02127;
        }
      }
    }
  }

  &-demo {
    width: 105%;
    height: 100%;
    min-height: 450px;
  }
}
