<div class="row">
  <h3 class="col-sm-offset-4 col-sm-7">
    Your deals for TAIPEI on {{ cbidCtrl.moment(cbidCtrl.bidHotels[0].date).format('MMM do YYYY') }}
  </h3>
  <div class="cbid-item"
      ng-repeat="item in cbidCtrl.bidHotels"
      ng-click="cbidCtrl.select(item)"
      ng-class="{ 'cbid-item-recommend': item.recommended }">
    <img class="cbid-item-image" src="{{item.image}}">
    <div class="cbid-item-data">
      <h5 class="cbid-item-hotel">{{ item.name }} <span ng-show="item.recommended" style="color: gold">&nbsp;&nbsp;Recomended</span></h5>
      <h5>5 Star</h5>
      <h5>$ {{ item.price }}</h5>
      <label>Avaliable services (FREE)</label>
      <div ng-repeat="data in item.avaliable_facilities">
        <li class="cbid-item-service-ok">{{ cbidCtrl.mappingData[data] }}</li>
      </div>
      <label>Unavaliable services</label>
      <div ng-repeat="data in item.unavaliable_facilities">
        <li class="cbid-item-service-no">{{ cbidCtrl.mappingData[data] }}</li>
      </div>
    </div>
  </div>
</div>
