.cbid-item {
  height: 425px;
  border: 5px solid  rgba(221, 221, 221, .7);
  margin: 5px;
  float:left;

  &:hover {
    border: 5px solid  rgba(0, 53, 128, .7);
  }

  &-image {
    width: 200px;
    height: 150px;
  }

  &-data {
    width: 100%;
    height: 90px;
    padding-left: 10px;
  }

  &-hotel {
    color: #06307B;
  }

  &-service-ok {
    color: #5cb85c;
  }

  &-service-no {
    color: #f0ad4e;
  }

  &-recommend {
    border: 5px solid  gold;
  }
}

.cbid-dialog {
  &-box {
    height: 200px;
  }
  &-left {
    text-align: left;
  }
}

.cbid-success {
  width: 554px;
  height: 600px;
}

.hbid-small {
  height: 200px;
  width: 200px;
  float: left;
}

.hbid-descrpt {
  height: 200px;
  width: 80%;
  float: left;

  &-take-point {
    color: #003580;
  }
}
