.home {
  background-color: #fff;

  &-basic {
    background-color: #FBD088;
    border-radius: 5px;
    height: 130px;

    &-item {
      padding-top: 50px;
      margin-right: -10px;
    }
  }
  &-btn {
    margin-top: 10px;
  }
  &-services {
    background-color: #FBD088;
    border-radius: 5px;
    height: 300px;

    &-selected {
      background-color: #fff;
      height: 250px;
      margin-top: 10px;
      padding-left: 10px;
      padding-top: 5px;
    }
  }
}
