.resize-active {
  * {
    transition: none !important;
  }
}
body{
  min-width: 320px;
  -ms-overflow-style: scrollbar;
  font-family: $font-family-sans-serif !important;
  @include media('>=phone'){
    font-size: 16px;
    line-height: 1.25;
  }
}
iframe{
  display: block;
  width: 100%;
}
notify-family-and-friend-panel {
  width: 100%;
}
.visual{
  img{
    @include img-styles();
  }
}
a{
  /*transition: color 0.3s linear, border 0.3s linear, background  0.3s linear;*/
  &:hover,
  &:focus,
  &:active{
    outline: none;
    text-decoration: none;
  }
}
#wrapper {
  position: relative;
  overflow: hidden;
}
.layout-content {
  counter-reset: item;
}
.content-block{
  position: relative;
  margin-bottom: 30px;
  &:first-child{
    margin-bottom: 0;
  }
  .flex-wrap{
    z-index: 1;
    @include pseudo-element(before, 0, 15px, 0, 15px);
    @include media('>=tablet'){
      display: flex;
      flex-flow: row wrap;
      width: calc(100% + 30px);
      padding: 8px 0;
    }
    @include media('>=tablet-md'){
      padding: 6px 0 19px;
    }
    &:before{
      background: $white;
      z-index: -1;
    }
    &:before,
    &:after{
      display: block;
    }
  }
  .head{
    margin-bottom: 20px;
    @include media('>=tablet'){
      margin-top: 20px;
      margin-bottom: 30px;
    }
    h2{
      margin: 0;
      color: $white;
      @include font(20, 24, 700);
      text-transform: uppercase;
      @include media('>=phone'){
        @include fontsize(30, 32);
      }
      span{
        @include vertical();
        background: $brand-danger;
        padding: 12px 15px;
        position: relative;
        @include media('>=phone'){
          min-width: 397px;
        }
        &:before{
          content: counters(item, ".", decimal) ".";
          @include vertical();
          counter-increment: item;
          margin: 0 8px 0 0;
        }
      }
      a{
        color: inherit;
        &:hover{
          color: $brand-info;
        }
      }
    }
  }
}
.default-header{
  position: relative;
  background: $brand-info;
  color: $white;
  z-index: 2;
  padding: 13px 16px 13px 80px;
  margin-bottom: 10px;
  @include media('>=phone'){
    padding: 18px 16px 18px 107px;
  }
  .icon{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 70px;
    text-align: center;
    background: $clr7;
    color: $white;
    font-size: 32px;
    @include media('>=phone'){
      width: 92px;
      font-size: 38px;
    }
    &.icon-location{
      font-size: 34px;
      @include media('>=phone'){
        font-size: 44px;
      }
    }
    &.icon-phone{
      font-size: 28px;
      @include media('>=phone'){
        font-size: 30px;
      }
    }
    &.icon-camera{
      font-size: 32px;
      @include media('>=phone'){
        font-size: 38px;
      }
    }
    &.icon-chat{
      @include media('>=phone'){
        font-size: 36px;
      }
      &:before{
        margin-top: 2px;
        @include media('>=phone'){
          margin-top: 4px;
        }
      }
    }
    &:before{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-shadow: 0 3px rgba($gray-base, 0.5);
    }
  }
  h3,
  .h3{
    text-transform: uppercase;
    margin: 0;
    @include font(20, 24, 700);
    color: $white;
    @include media('>=phone'){
      @include fontsize(30, 32);
    }
    a{
      color: inherit;
      &:hover{
        color: $brand-danger;
      }
    }
  }
}
.panel-block{
  position: relative;
  margin-bottom: 20px;
  @extend %clearfix;
  &:after{
    display: table;
  }
  @include media('>=tablet'){
    margin-bottom: 30px;
    padding: 0;
  }
  &.tabs{
    .panel-body{
      padding: 0;
    }
  }
  &.photo-block{
    .panel-body{
      padding: 0;
      display: flex;
      flex-flow: row wrap;
      background: none;
      &:before,
      &:after{
        display: block;
      }
    }
    .col{
      width: 100%;
      padding: 0 10px;
      margin-bottom: 10px;
      background: $white;
      @include media('>=phone'){
        padding: 0 20px;
      }
      @include media('>=tablet-md'){
        width: 50%;
        margin-bottom: 0;
      }
      + .col{
        margin-bottom: 0;
        @include media('>=tablet-md'){
          background: $clr13;
        }
      }
    }
    h4{
      color: $clr9;
      border-color: $clr8;
      margin: 0 0 15px;
      padding: 10px 0;
      @include media('>=phone'){
        margin: 0 0 18px;
        padding: 13px 0;
      }
    }
  }
  &.web-block{
    position: relative;
    .panel-body{
      padding: 0 20px;
      &.block{
        padding: 12px 15px;
        @include media('>=phone'){
          padding: 0;
        }
      }
      .sub-block{
        margin-left: 20px;
      }
    }
    .flex-row{
      .panel-body{
        margin-bottom: 10px;
        @include media('>=tablet'){
          background: $white;
        }
        @include media('>=tablet-md'){
          background: none;
          margin-bottom: 0;
        }
        &:before{
          display: none;
          @include media('>=tablet-md'){
            display: block;
          }
        }
      }
    }
    .default-header{
      h3{
        @include media('>=phone'){
          font-size: 24px;
        }
      }
    }
  }
  .panel-body{
    background: $white;
    padding: 10px 0;
  }
  .flex-row{
    overflow: hidden;
    @include media('>=tablet'){
      display: flex;
      flex-flow: row wrap;
      width: calc(100% + 30px);
    }
    &:after,
    &:before{
      display: block;
    }
    .panel-body{
      @include media('>=tablet'){
        background: none;
        z-index: 1;
      }
      @include pseudo-element(before, 0, 0, 0px, 0);
      &:before{
        @include media('>=tablet'){
          z-index: -1;
          background: $white;
        }
      }
    }
  }
  h4{
    margin: 0 0 10px;
    border-bottom: 1px solid $clr14;
    color: $gray;
    padding: 5px 0;
    @include font(16, 20, 700);
    text-transform: uppercase;
    @include media('>=phone'){
      font-size: 18px;
      line-height: 22px;
      margin: 0 0 15px;
      padding: 9px 0;
    }
    a{
      color: inherit;
      &:hover{
        color: $brand-info;
      }
    }
  }
  .two-cols{
    position: relative;
    @include media('>=tablet'){
      display: flex;
      flex-flow: row wrap;
      padding: 0 7px;
      @include pseudo-element(before, 6px, auto, 6px, 50%);
      &:before{
        width: 1px;
        background: $clr14;
      }
    }
    .col{
      padding: 0 15px;
      @include media('>=tablet'){
        width: 50%;
        padding: 0 10px;
      }
    }
    h4{
      font-variant: small-caps;
      text-transform: none;
      letter-spacing: 0.4px;
      font-size: 19px;
    }
  }
}
.chat-box{
  position: relative;
  margin: 0 0 13px;
  .chat-head{
    background: $brand-success;
    color: $white;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    @include font(14, 18, 500);
    padding: 6px 15px;
    margin: 0 0 9px;
    @include media('>=phone'){
      @include fontsize(18, 21);
      padding: 6px 20px;
    }
    @include media('>=tablet'){
      padding: 6px 30px;
    }
    a{
      color: inherit;
      &:hover{
        color: $gray-darker;
      }
    }
    time{
      font-style: italic;
      font-size: 14px;
      @include vertical();
      margin: 0 6px 0 0;
      @include media('>=phone'){
        font-size: 16px;
      }
      &:before{
        content: '-';
        @include vertical();
        margin: 0 4px;
      }
    }
    .icon-link-external{
      font-size: 18px;
      @include vertical();
      @include media('>=phone'){
        font-size: 22px;
      }
    }
  }
}
.log-list{
  margin: 0;
  padding: 0 5px;
  @include media('>=phone'){
    padding: 0 8px;
  }
  @include media('>=tablet'){
    padding: 0 10px;
  }
  &.call-log{
    margin: -7px 0 0;
    @include media('>=tablet'){
      padding: 0 30px 0 10px;
    }
    li{
      padding: 8px 35px;
      @include media('>=phone'){
        padding: 12px 20px 13px;
      }
      @include media('>=tablet'){
        padding: 12px 20px 13px;
      }
    }
  }
  li{
    border-top: 1px solid $gray;
    padding: 4px 45px 4px 10px;
    position: relative;
    @include media('>=tablet'){
      padding: 4px 45px 4px 20px;
    }
    &:first-child{
      border: none;
    }
    &.received{
      .call-dir{
        .icon-arrow-right{
          color: $clr7;
          transform: rotateY(180deg);
        }
      }
    }
  }
  .help{
    color: $white;
    display: block;
    @include size(20px);
    background: $brand-primary;
    text-align: center;
    font-size: 16px;
    border-radius: 100%;
    line-height: 20px;
    font-weight: 500;
    position: absolute;
    top: 10px;
    left: 5px;
    @include media('>=phone'){
      top: 14px;
      left: 10px;
      padding-left: 1px;
      font-size: 18px;
      line-height: 26px;
      @include size(24px);
    }
  }
  .call-number{
    @include vertical();
    color: $clr3;
    font-weight: 500;
    @include media('>=phone'){
      @include fontsize(18, 22);
      margin: 0 0 4px;
    }
    &.name{
      color: $clr4;
      &:hover{
        color: $brand-info;
      }
    }
    &:hover{
      color: $brand-info;
    }
  }
  .call-time{
    display: block;
    color: $gray;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    @include media('>=phone'){
      font-size: 16px;
    }
  }
  .call-dir{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    @include size(28px);
    @include media('>=tablet'){
      right: 0;
    }
    .icon-phone{
      color: $clr5;
      font-size: 20px;
      @include vertical();
      margin: 5px 0 0 2px;
    }
    .icon-arrow-right,
    .icon-arrow-left{
      @include vertical();
      font-size: 12px;
      color: $clr6;
      position: absolute;
      top: 1px;
      right: 2px;
    }
  }
  .msg-time{
    display: block;
    font-weight: 700;
    color: $gray-darker;
  }
  .ico{
    position: absolute;
    top: 50%;
    right: 11px;
    transform: translateY(-50%);
    @include media('>=tablet'){
      right: 11px;
    }
  }
  .text{
    display: block;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.tabset{
  display: flex;
  flex-flow: row wrap;
  background: $clr2;
  margin: 0;
  @include font(12, 16, 500);
  @include media('>=phone'){
    @include fontsize(18, 22);
  }
  @include media('>=tablet'){
    @include fontsize(24, 28);
  }
  li{
    margin-right: 3px;
    @include media('>=tablet'){
      margin-right: 10px;
      min-width: 222px;
    }
    &:first-child{
      @include media('>=phone'){
        min-width: 100px;
      }
      @include media('>=tablet'){
        min-width: 200px;
      }
    }
    &.active{
      a{
        background: $white;
        &:before{
          left: 0;
          right: 0;
        }
      }
      &.recent-location {
        a {
          color: #73c7ec !important;
          &:before{
            background: #73c7ec;
          }
        }
      }
      &.most-location {
        a {
          color: #78b7a3 !important;
          &:before{
            background: #78b7a3;
          }
        }
      }
      &.outlier-location {
        a {
          color: #ef757f !important;
          &:before{
            background: #ef757f;
          }
        }
      }
    }
    &.recent-location {
      background: #73c7ec;
    }
    &.most-location {
      background: #78b7a3;
    }
    &.outlier-location {
      background: #ef757f;
    }
  }
  a{
    color: white !important;
    display: block;
    text-align: center;
    z-index: 1;
    padding: 8px 10px;
    @include media('>=phone'){
      padding: 12px 10px;
    }
    @include media('>=tablet'){
      padding: 8px 22px;
    }
    @include pseudo-element(before, 0, 50%, auto, 50%);
    &:before{
      height: 2px;
      background: $brand-info;
      transition: all 0.3s linear;
      z-index: -1;
      pointer-events: none;
    }
    &:hover{
      color: #666 !important;
      text-decoration: none !important;
      background: rgba($clr1, 0.57);
    }
  }
}
.tab-content{
  background: $white;
  padding: 10px;
  @include media('>=phone'){
    padding: 20px;
  }
  @include media('>=tablet'){
    padding: 15px;
  }
  @include media('>=tablet-md'){
    padding: 20px;
  }
  .map-holder{
    img{
      max-width: inherit;
      width: 100%;
    }
  }
}
.photo-list{
  margin: 0;
  padding: 0;
  @include media('>=phone'){
    padding: 0 10px;
    margin: 0 -10px;
  }
  @include media('>=tablet'){
    margin: 0 -10px;
  }
  li{
    border-top: 1px solid $clr15;
    padding: 9px 0 10px;
    @include media('>=phone'){
      display: flex;
      flex-flow: row wrap;
      align-items: flex-end;
    }
    @include media('>=tablet'){
      padding: 9px 10px 10px;
    }
    &:first-child{
      padding-top: 1px;
      border:  none;
    }
    &.received{
      .title{
        color: $clr7;
      }
    }
  }
  .visual{
    width: 120px;
    position: relative;
    overflow: hidden;
    min-height: 120px;
    background: $brand-primary;
    margin: 0 auto 10px;
    @include media('>=phone'){
      margin: 0;
    }
    img{
      max-width: inherit;
      width: 100%;
      transition: all 0.3s ease;
    }
    a{
      display: block;
      max-width: 100%;
      &:hover{
        > img{
          opacity: 0.75;
        }
      }
    }
    &-white {
      background-color: $white;
    }
    .ico{
      position: absolute;
      bottom: 5px;
      right: 5px;
      width: 28px;
      display: block;
      z-index: 2;
    }
  }
  .text-holder{
    @include fontsize(14, 18);
    @include media('>=phone'){
      width: calc(100% - 120px);
      @include fontsize(16, 20);
      padding: 0 0 0 10px;
      margin: 0 0 -1px;
    }
    @include media('>=tablet'){
      margin:  0 0 -4px;
      padding: 0 0 0 15px;
    }
  }
  .title{
    display: block;
    color: $clr10;
    @include font(16, 20, 500);
    @include media('>=phone'){
      @include fontsize(18, 20);
    }
    time{
      font-weight: 400;
      font-style: italic;
      font-size: 16px;
      &:before{
        content: '-';
        @include vertical();
        margin: 0 4px 0 0;
      }
    }
  }
  .meta-list{
    margin: 0;
    padding: 0;
    color: $clr9;
    letter-spacing: -4px;
    margin: 0;
    @include media('>=tablet'){
      margin: 0 0 10px;
    }
    dt{
      @include vertical();
      font-weight: normal;
      line-height: inherit;
      font-size: inherit;
      letter-spacing: normal;
      max-width: 106px;
    }
    dd{
      @include vertical();
      letter-spacing: normal;
      line-height: inherit;
      font-size: inherit;
      width: calc(100% - 110px);
      padding: 0 0 0 4px;
      time{
        font-style: italic;
      }
    }
    address{
      margin: 0;
      line-height: inherit;
      font-size: inherit;
    }
  }
  .meta-text{
    color: $clr7;
    @include media('>=tablet'){
      display: flex;
      flex-flow: row wrap;
      align-items: flex-end;
    }
    > time{
      font-style: italic;
      margin: 0 0 15px;
      display: block;
      @include media('>=tablet'){
        margin: 0;
      }
    }
  }
  .tool-tag{
    display: block;
    text-align: center;
    width: 88px;
    background: $clr7;
    color: $white;
    @include font(16, 19, 500);
    padding: 3px;
    border-radius: 10px 10px 10px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    margin: 0 auto;
    @include media('>=phone'){
      margin: 0;
    }
    @include media('>=tablet'){
      margin: 0 0 4px 8px;
    }
    @include media('>=tablet-md'){
      margin: 4px 0;
    }
    @include media('>=widescreen'){
      margin: 0 0 4px 8px;
    }
    &.hover{
      .drop-holder{
        opacity: 1;
        visibility: visible;
        padding: 0 0 20px;
        transform: translateX(-50%) scale(1);
      }
    }
  }
  .drop-holder{
    position: absolute;
    bottom: 100%;
    left: 50%;
    z-index: 5;
    white-space: nowrap;
    padding: 0 0 10px;
    white-space: normal;
    text-align: left;
    color: $white;
    width: 282px;
    transition: all 0.4s ease;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(0.1);
    transform-origin: 50% 100%;
    @include media('>=phone'){
      width: 282px;
    }
    .drop{
      background: $gray-base;
      background: rgba($gray-base, 0.8);
      border-radius: 10px;
      padding: 9px 10px;
      @include pseudo-element(before, 100%, auto, auto, 50%);
      &:before{
        @include triangle(22px 8px, rgba($gray-base, 0.8),  down);
        transform: translateX(-50%);
      }
    }
    .drop-title{
      display: block;
      text-align: center;
      border-bottom: 1px solid $white;
      color: $white;
      text-transform: uppercase;
      padding: 0 0 5px;
      margin: 0 0 8px;
      @include font(16, 16, 500);
      @include media('>=tablet'){
        @include fontsize(18, 18);
      }
    }
    dl{
      margin: 0;
      letter-spacing: -4px;
      @include font(16, 19, 500);
      color: $white;
      text-transform: none;
      dt{
        letter-spacing: normal;
        @include vertical();
        font-size: inherit;
        line-height: inherit;
        width: 107px;
        padding-right: 3px;
        font-weight: 500;
      }
      dd{
        @include vertical();
        font-size: inherit;
        line-height: inherit;
        letter-spacing: normal;
        width: calc(100% - 110px);
      }
      address{
        margin: 0;
        line-height: inherit;
        font-size: inherit;
      }
    }
    time{
      font-style: normal;
    }
  }
}
.images-box{
  position: relative;
  @extend %clearfix;
  margin: 0 0 5px;
  @include media('>=phone'){
    margin: 0 -10px 5px;
  }
  @include media('>=tablet'){
    margin: 0 0 5px;
  }
  &-divider{
    border-bottom: 1px solid #aaa;
    padding-top: 5px;
  }
  &:after{
    display: table;
  }
  .date{
    color: $white;
    @include font(16, 19, 500);
    background: $clr7;
    text-align: center;
    min-width: 128px;
    padding: 8px 10px;
    @include vertical();
    margin: 0 -10px 10px;
    @include media('>=phone'){
      margin: 0 0 10px -10px;
    }
    @include media('>=tablet'){
      margin: 0 0 15px 0;
    }
  }
  .time-period{
    display: block;
    color: $gray;
    margin: 0 0 5px;
  }
}
.img-list{
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  margin: 0 -5px 10px;
  width: calc(100% + 10px);
  @include media('>=phone'){
    margin: 0 -3px 10px;
    width: calc(100% + 6px);
  }
  li{
    margin: 5px;
    width: 60px;
    background: $brand-info;
    overflow: hidden;
    &.white {
      background-color: $white;
      @include media('>=tablet'){
        background-color: $clr13;
      }
    }
  }
  a{
    display: block;
    max-width: 100%;
    transition: all 0.3s ease;
    &:hover{
      opacity: 0.75;
    }
  }
  img{
    @include img-styles();
  }
}
.web-links{
  margin: 10px;
  position: relative;
  @include media('>=phone'){
    @include font(16, 20, 400);
  }
  li{
    position: relative;
    margin: 0 0 10px;
    padding: 0 0 0 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    @include pseudo-element(before, 6px, auto, auto, 2px);
    @include media('>=phone'){
      margin: 0 0 16px;
      padding: 0 0 0 23px;
    }
    &:before{
      @include size(10px);
      background: $clr16;
      border-radius: 100%;
    }
  }
  a{
    color: $clr4;
    &:hover{
      color: $clr16;
    }
  }
}
.select-form{
  position: relative;
  margin: 9px 0 15px;
  .input-wrap{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  label{
    text-transform: uppercase;
    color: $gray;
    font-weight: 500;
    margin: 0 6px 0 0;
    @include media('>=phone'){
      font-size: 18px;
      line-height: 22px;
    }
  }
  select{
    color: $gray;
    @include font(16, 21, 500);
    min-width: 130px;
    padding: 6px 12px;
    @include media('>=phone'){
      font-size: 18px;
    }
  }
}
.info-box{
  position: relative;
  .info-head{
    background: $clr11;
    margin: 0 0 5px;
    padding: 8px 15px;
    color: $white;
    @include media('>=phone'){
      @include fontsize(18, 22);
    }
    strong{
      font-weight: 500;
      @include vertical();
      text-transform: uppercase;
    }
  }
  ul{
    position: relative;
    margin: 0 10px 15px 0;
    @include media('>=phone'){
      @include fontsize(16, 20);
    }
    @include media('>=tablet'){
      margin: 0 0 20px;
    }
    @include media('>=tablet-md'){
      margin: 0 10px 15px 0;
    }
    &.contact-list{
      @include media('>=phone'){
        font-size: 18px;
        line-height: 24px;
        margin: 0 0 22px;
        padding: 5px 0 0;
      }
      @include media('>=tablet-md'){
        margin-left: 10px;
      }
      li{
        margin: 0 0 4px;
        @include media('>=phone'){
          margin: 0;
        }
      }
    }
    &.number-list{
      @include media('>=phone'){
        font-size: 18px;
        line-height: 20px;
      }
      a{
        color: $clr3;
        &:hover{
          color: $clr4;
        }
      }
    }
    &.web-links{
      @include media('>=phone'){
        padding-top: 12px;
        margin: 0 10px 21px;
      }
      li{
        @include media('>=phone'){
          margin: 0 0 16px;
        }
      }
      a{
        display: inline;
      }
    }
    li{
      margin: 0 0 4px;
      @include media('>=phone'){
        margin: 0 0 4px;
      }
    }
    a{
      color: $clr4;
      @include vertical();
      &:hover{
        color: $clr16;
      }
      .icon-link-external{
        @include vertical();
        color: $clr4;
        font-size: 18px;
        margin: 1px 0 0 2px;
        @include media('>=phone'){
          margin: 2px 0 0 3px;
          font-size: 22px;
        }
      }
    }
    .number{
      display: block;
      color: $clr3;
    }
  }
  .two-cols{
    margin: -5px 0;
    @include media('>=phone'){
      display: flex;
      flex-flow: row wrap;
    }
    @include media('>=tablet'){
    }
    @include media('>=phone' , '<tablet'){
      @include pseudo-element(before, 0, auto, 0, 64%);
      &:before{
        width: 1px;
        background: $clr1;
      }
    }
    .col{
      @include media('>=phone' , '<tablet'){
        width: 36%;
      }
      &:first-child{
        @include media('>=phone' , '<tablet'){
          width: 64%;
        }
      }
    }
    h4{
      text-transform: uppercase;
      margin: 0 0 10px;
      border-color: $clr1;
      @include media('>=phone'){
        font-size: 18px;
        margin: 0 -15px 10px;
        padding-left: 15px;
        padding-right: 15px;
      }
      @include media('>=tablet'){
        border-color: $clr14;
        padding-left: 0;
        padding-right: 0;
        margin: 0 0 10px;
      }
      @include media('>=tablet-md'){
        margin: 0 0 7px;
      }
      @include media('<phone'){
        padding: 10px 0;
      }
    }
  }
}

.authority-block {
  h4{
    margin: 0 34px 10px;
    border-bottom: 1px solid $clr14;
    color: $gray;
    padding: 5px 0;
    width: 100%;
    @include font(16, 20, 700);
    text-transform: uppercase;
    @include media('>=phone'){
      font-size: 18px;
      line-height: 22px;
      margin: 0 34px 15px;
      padding: 9px 0;
    }
  }
}

.authority-box{
  padding: 10px 15px;
  @include media('>=phone'){
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
  }
  @include media('>=tablet'){
    padding: 10px 0 10px 20px;
  }
  .visual{
    width: 113px;
    margin: 0 auto 10px;
    @include media('>=phone'){
      margin: 0;
    }
  }
  .text-holder{
    position: relative;
    @include media('>=phone'){
      width: calc(100% - 113px);
      margin-top: -5px;
      padding: 0 0 0 15px;
    }
  }
  h3{
    color: $clr17;
    @include font(16, 20, 700);
    margin: 0;
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    @include media('>=phone'){
      @include fontsize(18, 22);
    }
    a{
      color: inherit;
      &:hover{
        color: $brand-danger;
      }
    }
  }
  dl{
    position: relative;
    margin: 0;
    padding: 0;
    letter-spacing: -4px;
    color: $clr9;
    @include font(14, 18, 500);
    @include media('>=phone'){
      @include fontsize(16, 19);
    }
    dt{
      @include vertical();
      font-size: inherit;
      line-height: inherit;
      letter-spacing: normal;
      max-width: 70px;
      font-weight: 700;
    }
    dd{
      @include vertical();
      letter-spacing: normal;
      font-size: inherit;
      line-height: inherit;
      width: calc(100% - 72px);
      padding: 0 0 0 4px;
    }
    address{
      margin: 0 0 0 -64px;
      text-indent: 64px;
      font-size: inherit;
      line-height: inherit;
      @include media('>=phone'){
        margin: 0 0 0 -72px;
        text-indent: 78px;
      }
    }
    a{
      color: inherit;
      &:hover{
        color: $brand-danger;
      }
    }
  }
}
.notify-block{
  position: relative;
  .head{
    h2{
      @include media('<tablet'){
        font-size: 24px;
      }
      @include media('<phone'){
        font-size: 20px;
      }
    }
  }
  .contact-list{
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    @include font(16, 20, 700);
    @include media('>=phone'){
      @include fontsize(18, 22);
    }
    li{
      text-align: center;
      padding: 20px 10px;
      width: 100%;
      @include media('>=phone'){
        width: 50%;
      }
      @include media('>=tablet'){
        padding: 20px 18px;
        width: auto;
      }
      @include media('>=tablet-md'){
        padding: 20px 13px;
      }
      @include media('>=widescreen'){
        padding: 25px 24px 17px 34px;
      }
      &:last-child{
        width: 100%;
        @include media('>=tablet'){
          width: 100%;
        }
        @include media('>=tablet-md'){
          width: 27%;
        }
        @include media('>=widescreen'){
          width: 29.6%;
          padding: 21px 18px 0 57px;
        }
      }
    }
    a{
      @include vertical();
      transition: opacity 0.3s ease;
      &:hover{
        opacity: 0.9;
      }
    }
    .ico{
      display: block;
      width: 80px;
      margin: 0 auto 15px;
      &.twitter{
        width: 95px;
      }
      &.email{
        width: 85px;
      }
    }
    img{
      @include img-styles();
    }
    .btn{
      display: block;
      margin-bottom: 5px;
      width: 100%;
      font-size: 18px;
      margin: 0 auto 10px;
      padding: 7px 10px;
      transition: opacity 0.3s ease;
      max-width: 280px;
      @include media('>=tablet-md'){
        max-width: none;
        margin: 0 0 10px;
      }
      .ico-wrap{
        @include vertical(middle);
        margin: 0 13px 0 -19px;
        &.cloud{
          margin-top: -5px;
          margin-bottom: -5px;
        }
      }
      &.btn-primary{
        background: $brand-primary;
      }
      &.btn-danger{
        background: $clr12;
      }
    }
  }
}
.location-map{
  @include media('<=tablet'){
    height: 300px;
    @include media('<=phone'){
      height: 200px;
    }
  }
  height: 500px;
}
.report-panel{
  &-section{
    overflow: auto;
    height: 800px;
    background: $white;
    @include media('<=tablet'){
      height: 400px;
    }
    &-images-box{
      background: $clr13;
      @include media('<=tablet'){
        background-color: $white;
        height: 400px;
      }
    }
  }
}
