<div class="report-wizzard row">
  <div class="col-xs-12 creport-wizzard-descrp">
    <i class="glyphicon glyphicon-remove-circle pull-right module-list-close" ng-click="closeThisDialog()"></i>
    <h1 class="report-wizzard-descrp-title">{{ dialogCtrl.hotel.name }}</h1>
  </div>
  <div class="col-xs-12 cbid-dialog-box">
    <img src="{{ dialogCtrl.hotel.image }}">
  </div>
  <div class="col-xs-12">
    <br>
    <div ng-hide="dialogCtrl.bidding" class="col-xs-12 cbid-dialog-left">
      <label>
       Address: Ln. 10, abc road, Taipei, Taiwan
      </label>
    </div>
    <div class="col-xs-12 cbid-dialog-left">
      <label>
       End date:  {{ dialogCtrl.moment(dialogCtrl.hotel.date).format('MMM do YYYY') }}
      </label>
    </div>
    <div class="col-xs-12 cbid-dialog-left">
      <label>
       Bid price: {{ dialogCtrl.hotel.price }}
      </label>
    </div>
    <div class="col-xs-12 cbid-dialog-left">
      <label>Services</label>
    </div>
    <div class="col-xs-6 cbid-dialog-left" ng-repeat="item in dialogCtrl.hotel.avaliable_facilities">
      <li>{{ item }}</li>
    </div>
  </div>
  <div class="col-xs-12">
    <button ng-hide="dialogCtrl.bidding" class="col-xs-offset-7 col-xs-4 btn btn-large btn-primary home-btn" ng-click="dialogCtrl.select()">TAKE THE OFFER</button>
    <p class="col-xs-12"></p>
  </div>
</div>
