<div class="report-wizzard row">
  <div class="col-xs-12 creport-wizzard-descrp">
    <i class="glyphicon glyphicon-remove-circle pull-right module-list-close" ng-click="closeThisDialog()"></i>
    <h1 class="report-wizzard-descrp-title">Hotel Data</h1>
  </div>
  <div class="col-xs-12">
    <!--<img class="report-wizzard-demo" src="/assets/images/report1.png">-->
  </div>
  <button class="col-xs-offset-11 col-sxs-1 btn btn-large btn-primary home-btn" ng-click="dialogCtrl.select()">Next</button>
</div>
