<div class="report-wizzard row">
  <div class="col-sm-12 col-md-6 report-wizzard-descrp">
    <h1 class="report-wizzard-descrp-title">Situation 360</h1>
    <div class="report-wizzard-descrp__split"></div>
    <div class="report-wizzard-descrp-content">
      By clicking <strong ng-click="dialogCtrl.openReport()"><u> proceed </u></strong>
      a report will automatically be generated.
      All the essential data from your child’s device will quickly be
      assembled in one document. The report will include your child’s
      recent activity as well as common locations, website activity,
      search terms, contacts, and outliers. This data will help flag
      any strangeness in your child’s usual cell phone activity.
      <br>
      A list of police departments near your location will be provided
      in order for you to notify the proper authorities. This report
      will give the police the necessary information to help find your
      child as fast as possible.
    </div>
    <br>
    <div class="report-wizzard-descrp-btn">
      <a ng-click="dialogCtrl.openReport()" class="report-wizzard-descrp-btn__open col-sm-7 col-xs-7">Proceed</a>
      <br>
      <br>
      <a ng-click="closeThisDialog()" class="report-wizzard-descrp-btn__close col-sm-7 col-xs-7">Thankfully I don't need one</a>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <img class="report-wizzard-demo" src="/assets/images/report1.png">
  </div>
</div>
