<div class="moduleDialog">
  <div class="module-grouped" ng-if="dialogCtrl.module.browser_history">
    <div class="module-list-lists-header">
      <div class="module-list-lists-header-title">
        <span class="module-list-lists-title">Browser History</span>
      </div>
      <div class="module-list-lists-header-content">
        <span class="module-list-content-title">
          <span ng-if="dialogCtrl.module.browserGroupItem">
            <strong class="module-list-content-title-name">{{ dialogCtrl.module.browserGroupItem[0].last_visit | kgTimeFilter: 'short-day' }}</strong>
            <span class="module-mobile-hide">{{ dialogCtrl.module.browserGroupItem[0].last_visit | kgTimeFilter: 'short-3' }}</span>
          </span>
          <i class="glyphicon glyphicon-remove-circle pull-right module-list-close" ng-click="closeThisDialog()"></i>
          <i ng-if="dialogCtrl.modulePagination.pageCount !== 0 &&
                    dialogCtrl.modulePagination.page !== dialogCtrl.modulePagination.pageCount"
            class="glyphicon glyphicon-forward pull-right module-list-more"
            ng-click="dialogCtrl.loadMore()">
            <span class="module-mobile-hide">More</span>
          </i>
        </span>
      </div>
    </div>
    <div class="module-list-lists">
      <div class="module-list-lists-item module-list-lists-item-browser"
        ng-repeat="(groupName, groupItem) in dialogCtrl.module.browser_history"
        ng-click="dialogCtrl.setBrowserGroupItem(groupItem)"
        ng-class="{ 'module-list-lists-item-selected': groupItem[0].last_visit === dialogCtrl.module.browserGroupItem[0].last_visit }">
        <span class="module-list-lists-item-date module-mobile-hide text-ellipsis" ng-if="groupName === 'Earlier Today'">{{ groupName }}</span>
        <span class="module-list-lists-item-date module-mobile-hide text-ellipsis" ng-if="groupName !== 'Earlier Today'">{{ groupName | kgTimeFilter: 'short-3' }}</span>
        <span class="module-list-lists-item-date module-mobile-show" ng-if="groupName !== 'Earlier Today'">{{ groupName | kgTimeFilter: 'short-1' }}</span>
        <span class="module-list-lists-item-date module-mobile-show" ng-if="groupName === 'Earlier Today'">{{ groupName }}</span>
      </div>
    </div>
    <div class="module-list-content">
      <div class="module-list-content-item-browser" ng-if="dialogCtrl.module.browserGroupItem" ng-repeat="item in dialogCtrl.module.browserGroupItem">
        <a class="module-list-content-item-browser-link text-ellipsis" href="{{ item.url }}" target="_blank">
          <img src="https://www.google.com/s2/favicons?domain={{item.url}}"/>
            {{ item.url }}</a>
      </div>
    </div>
  </div>
</div>
