<div class="moduleDialog">
  <div class="module-grouped" ng-if="dialogCtrl.module.call_history">
    <div class="module-list-lists-header">
      <div class="module-list-lists-header-title">
        <span class="module-list-lists-title">Contacts</span>
      </div>
      <div class="module-list-lists-header-content">
        <span class="module-list-content-title">
          Call
          <span class="module-mobile-hide" ng-if="dialogCtrl.module.callGroupItem">
            History with
            <strong class="module-list-content-title-name">
              {{ dialogCtrl.module.callGroupItem[0].address }}
            </strong>
          </span>
          <i class="glyphicon glyphicon-remove-circle pull-right module-list-close" ng-click="closeThisDialog()"></i>
          <i ng-if="dialogCtrl.modulePagination.pageCount !== 0 &&
                    dialogCtrl.modulePagination.page !== dialogCtrl.modulePagination.pageCount"
            class="glyphicon glyphicon-forward pull-right module-list-more"
            ng-click="dialogCtrl.loadMore()">
            <span class="module-mobile-hide">More</span>
          </i>
        </span>
      </div>
    </div>
    <div class="module-list-lists">
      <div class="module-list-lists-item module-list-lists-item-call"
        ng-repeat="(groupName, groupItem) in dialogCtrl.module.call_history"
        ng-click="dialogCtrl.setCallGroupItem(groupItem)"
        ng-class="{ 'module-list-lists-item-selected': groupName === dialogCtrl.module.callGroupItem[0].address }">
        <span class="module-list-lists-user">{{ groupName }}</span>
      </div>
    </div>
    <div class="module-list-content">
      <div class="module-list-content-item-call" ng-if="dialogCtrl.module.callGroupItem" ng-repeat="item in dialogCtrl.module.callGroupItem">
        <div>
          <span ng-if="item.from_me">
            <i class="glyphicon glyphicon-ban-circle module-list-content-item-call-miss" ng-if="!item.duration"></i>
            <i class="glyphicon glyphicon-arrow-up module-list-content-item-call-me" ng-if="item.duration"></i>
            {{ dialogCtrl.childName }}
          </span>
          <span ng-if="!item.from_me">
            <i class="glyphicon glyphicon-ban-circle module-list-content-item-call-miss" ng-if="!item.duration"></i>
            <i class="glyphicon glyphicon-arrow-down module-list-content-item-call-other" ng-if="item.duration"></i>
            {{ item.address }}
          </span>
          <span class="module-list-content-item-call-date">{{ item.date | kgTimeFilter: 'long-3' }}</span>
        </div>
          <span class="module-list-content-item-call-duration" ng-if="item.duration >= 60">Duration {{ item.duration | kgTimeFilter : 'durationSec' }}</span>
          <span class="module-list-content-item-call-duration" ng-if="item.duration < 60">Duration {{ item.duration }} seconds</span>
      </div>
    </div>
  </div>
</div>
