<div class="moduleDialog">
  <div class="module-grouped" ng-if="dialogCtrl.module.contacts">
    <div class="module-list-lists-header">
      <div class="module-list-lists-header-title">
        <span class="module-list-lists-title">Contacts</span>
      </div>
      <div class="module-list-lists-header-content">
        <span class="module-list-content-title">
          Profile
          <i class="glyphicon glyphicon-remove-circle pull-right module-list-close" ng-click="closeThisDialog()"></i>
          <i ng-if="dialogCtrl.modulePagination.pageCount !== 0 &&
                    dialogCtrl.modulePagination.page !== dialogCtrl.modulePagination.pageCount"
            class="glyphicon glyphicon-forward pull-right module-list-more"
            ng-click="dialogCtrl.loadMore()">
            <span class="module-mobile-hide">More</span>
          </i>
        </span>
      </div>
    </div>
    <div class="module-list-lists">
      <div class="module-list-lists-item" ng-click="dialogCtrl.setContact(item)" ng-repeat="item in dialogCtrl.module.contacts">
        <i class="glyph-icon icon-user"></i>
        <span ng-show="item.first_name || item.last_name" class="module-list-lists-user text-ellipsis"> {{ item.first_name }} {{ item.last_name }}</span>
        <span ng-show="!item.last_name && !item.first_name" class="module-list-lists-user"> Anonymous </span>
      </div>
    </div>
    <div class="module-list-content">
      <div class="module-list-content-divider"></div>
      <div ng-if='dialogCtrl.module.contact'>
        <h4>Name: {{ dialogCtrl.module.contact.first_name }} {{ dialogCtrl.module.contact.last_name }}</h4>
        <br>
        <h5>Company: {{ dialogCtrl.module.contact.organisation }}</h5>
        <br>
        <div ng-repeat="record in dialogCtrl.module.contact.records">
          <div ng-if="record.type === 'Email'">Email: {{record.value}}</div>
          <div ng-if="record.type === 'Phone'">Phone: {{record.value}}</div>
          <div ng-if="record.type === 'Url'">Url: {{record.value}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
