<div class="device-content" ng-if="vm.needDisplay">
  <div class="list-group list-group-horizontal" id="device-list-collapse">
    <li class="list-group-item list-group-item pull-left device-content-title device-content-detail"
      ng-click="vm.setDevice({deviceId:vm.currentDevice.id})"
      ng-if="vm.devices.length == 1">
      {{ vm.currentDevice.device_name }}
    </li>
    <li class="list-group-item list-group-item pull-left device-content-title device-content-detail"
      ng-if="vm.devices.length > 1">
      <select ng-options="device as device.device_name for device in vm.devices track by device.id"
        ng-model="vm.currentDevice"
        ng-change="vm.selectedDeviceChanged({currentDevice:vm.currentDevice})">
      </select>
    </li>
    <li href="#" class="list-group-item device-content-detail pull-right"
      ng-if="vm.devices.length"
      ng-click="vm.deleteDevice()">
      <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
      <span class="device-mobile-hide">Delete</span>
    </li>
    <li href="#" class="list-group-item device-content-detail pull-right device-content-left"
      ng-if="vm.devices.length"
      ng-click="vm.syncDeviceStatus()"
      ng-disabled="vm.currentDevice.status === 'syncing'">
      <span class="glyphicon glyphicon-refresh"
            ng-class="{ 'spin sync-spin': vm.currentDevice.status === 'syncing' }"
            aria-hidden="true"></span>
      <span class="device-mobile-hide">{{ vm.currentDevice.status || 'sync' | uppercase }}</span>
    </li>
    <li class="list-group-item device-content-detail pull-right device-content-left"
      ng-click="vm.addDevice()">
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
      <span class="device-mobile-hide">Add Device</span>
    </li>
  </div>
  <div class="hint" ng-if="vm.devices.length === 0">
    <div class="hint__triangle"></div>
    <span class="hint__content">Now add your child's device</span>
  </div>
  <div class="hint" ng-if="vm.devices.length > 0 && vm.displayNotifySyn">
    <div class="hint__triangle hint__triangle__left"></div>
    <span class="hint__content">Get latest data</span>
  </div>
</div>
