<form clas="home">
  <div class="row home-basic">
    <div class="col-sm-4 home-basic-item">
      <label>
        Location
      </label>
      <input type="text"
        class="form-control"
        id="location"
        placeholder="More places you could ever go"
        ng-model="homeCtrl.location"
        name="location" required/>
    </div>
    <div class="col-sm-4 home-basic-item">
      <label>
        Check-in
      </label>
      <input type="date"
        class="form-control"
        id="location"
        placeholder="Check-in date"
        ng-model="homeCtrl.date"
        name="location" required/>
    </div>
    <div class="col-sm-1 home-basic-item">
      <label>
        Days
      </label>
      <input type="number"
        class="form-control"
        id="location"
        placeholder=""
        ng-model="homeCtrl.days"
        name="location" required/>
    </div>
    <div class="col-sm-3 home-basic-item">
      <label>
        Budget
      </label>
      <input type="number"
        class="form-control"
        id="location"
        placeholder="$ per night & per room"
        ng-model="homeCtrl.budget"
        name="location" required/>
    </div>
  </div>
  <br>
  <div class="row home-services">
    oohohoh
  </div>
</form>